body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


.wrapper {
    display: flex;               
    gap: 20px;                  
    justify-content: center;     
    align-items: flex-start;
}


.layout-a, .layout-b {
    width: 45%;
    height: 400px;
    border: 2px solid #ccc;
}

/* ====== LAYOUT (a) ====== */
.layout-a {
    display: flex;
}

.layout-a .kiri {
    background-color: pink;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-a .kanan {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.layout-a header,
.layout-a footer {
    background-color: khaki;
    text-align: center;
    padding: 10px;
}

.layout-a .isi {
    display: flex;
    flex: 1;
}

.layout-a article {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #eee;
}

.layout-a aside {
    flex: 1;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== LAYOUT (b) ====== */
.layout-b {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
}

.layout-b header,
.layout-b footer {
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;
}

.layout-b .tengah {
    display: flex;
    flex: 1;
    gap: 10px;
    padding: 10px;
}

.layout-b aside {
    flex: 1;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-b article {
    flex: 2;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-b .gambar {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.layout-b .img {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    flex: 1;
}
