* {
    margin: 5
}

img {
    width: 50px;
    height: 50px;
}

nav {
    background-color: gold;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    padding: 10px;
    
}